# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Data caches
.ipynb_checkpoints/
data/raw/
*.log

# Model artifacts (optional to ignore if you want them to re-train)
# model.pkl

# IDEs
.vscode/
.idea/
